.App {
  text-align: center;
  background-color: #e2c995;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  text-align: right;
}

.App-intro {
  font-size: large;
}

.Leaders-title {
  text-align: left;
  margin-left: 10%;
}

.Leaders-intro {
  margin-right: 10%;
  margin-left: 10%;
  text-align: justify;
  font-size: 1em;
}

p span {
  font-weight: bold;
}

.Leaders-portrait {
  position: relative;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.Leaders-image {
  border-radius: 10px;
  display: block;
  width: 400px;
  height: auto;
  margin-left: auto;
}

.Overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  border-radius: 10px;
}

.Leaders-portrait:hover .Overlay {
  width: 100%;
  opacity: .7;
}

.Image-text {
  white-space: nowrap; 
  color: white;
  font-size: 1.5em;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.Leaders-row {
  width: 1000px;
  margin: 0 auto 0 auto;
  display: inline-block;
}

.active {
  color: red;
}

a {
  color: blue;
  text-decoration: none;
  margin-left: 5%;
}

a:hover {
  color: green;
}

.navbar {
  left: 10%;
  width: 100%;
  height: 2em;
  margin-top: 1em;
  text-align: left;
}

.CivilRights-image {
  border-radius: 10px;
  width: auto;
  height: 150px;
  float: right;
}

h2 {
  margin-left: 20%;
}

h3 {
  margin-left: 20%;
}

NavLink {
  margin-right: 10%;
}

iframe {
  margin-left: 10%;
  width: 80%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
